body {
  margin: 0;
  font-family: georgia;
  background-color: fff	;
}

:root {
  --primary: #1ca3ec;
  --primary-less: #74ccf4;
  --primary-more: #2389da;
  --secondary: #c7f3ff;
}

a {
 text-decoration: none;
}

li {
 list-style: none;
}

/* NAVBAR CSS SECTION */

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: var(--primary);
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.logo{
  font-size: 40px;
}

.nav-links {
  display: flex;
  gap: 16px;
  font-size: 20px;
  padding: 16px;
}

.nav-links li{
  cursor: pointer;
  padding: 8px;
  position: relative;
}

.nav-links li a{
  color: #FFF;
}

.nav-links li:hover{
  background-color: var(--primary-more);
}

.dropdown:hover .dropdown-items-container{
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: var(--primary-more);
  z-index: 1;
  width: fit-content;
}

.dropdown-items-container{
  position: absolute;
  display: block;
  overflow: hidden;
  left: 0;
  height: 0;
  width: 0;
}

.dropdown-items-container li{
  text-align: left;
  white-space: nowrap;
}

.dropdown-items-container li:hover{
  background-color: #1a7ac9;
}

/* END OF NAVBAR CSS SECTION */

.tws_label {
  width: 100%;
  height: 20%;
  display: inline-block;
  box-sizing: border-box;
}

.small_section{
  width: 100%;
  height: 20%;
  padding: 50px;
  display: inline-block;
  box-sizing: border-box;
}

.content {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
}

section .sources {
  width: 100%; 
  height: 200%;
  background: #fff;
  box-sizing: border-box;
}

/* section .sources ul {
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
}

section .sources ul li {
  list-style: none;
  background: #fff;
  box-sizing: border-box;
  height: 200px;
  margin: 15px 0;
} */

section .sources .item_1 {
  position: relative;
  padding: 20px;
  background: grey;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  text-align: center;
/*   transition: .5s; */
}

/* section .sources :hover .item_1 {
  background: #209dd6;
} */
/* .boxes {
  padding: 10px;
} */
.left1 {
  padding: 10px;
  height:100%;
  /*
  margin:1%;
  margin-left: 0;
  float:left;  */
  background:#a4dbd4;
  
}
.left2{
  padding: 10px;
  height:100%;
  background:#a4dbd4;
/*   margin:1%;
  float:left; 
  
  width:22%;
  height:50%; */
}
.right1{
  padding: 10px;
  height:100%;
  background:#a4dbd4;
/*   margin:1%;
  float:left;
  
  width:22%;
  height:50%; */
}
.right2{
  padding: 10px;
  height:100%;
  background:#a4dbd4;
/*   margin:1%;
  margin-right: 0;
  float:right;
  
  width:22%;
  height:50%; */
}

section .sources .item_1 h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 60px;
  line-height: 30px;
}

section .sources .item_1 h2 span {
  font-size: 30px;
}

section .sources .details {
  margin-top: 5%;
  padding: 1%;
/*   background: #fff; */
}

section .sources .details h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

section .sources .details p {
  position: relative;
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px;
}

section .sources .details a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 1.5px solid #262626;
  margin-top: 8px;
  font-size: 18px;
  transition: .5s;
}

section .sources .details a:hover {
  background: #209dd6;
  color: #fff;
  border-color: #209dd6;
}



.link {
  position: absolute;
  width: 50%;
  height: 30%;
  top: 0;
  left: 0;
  z-index: 1;
}
#uncon_water_sources{
  padding-bottom: 20px;
}

#Top{
  width: 100%;
  height: 500px;
  background-color: lightblue;
  display:flex;
  justify-content: flex-start;
  align-items:center ;
}

#text{
  color: #3b726c;
  padding:10px;
}

/* Footer stylizing */
.footer {
  text-align: center;
  padding: 7px;
  background-color: #72aea7;
  color: white;
}
